<div class="container-article">
  <div class="article">
    <!-- article content here -->
    <%= @article.title %>
    <%= @article.body %>
  </div>
  <div class="comments">
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
      <p>
        <%= form.label :commenter %><br>
        <%= form.text_field :commenter %>
      </p>
      <p>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
      </p>
      <p>
        <%= form.label :status %><br>
        <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
    <!-- list of existing comments here -->
    <% @article.comments.each do |comment| %>
      <p>
        <%= comment.commenter %>: <%= comment.body %>
      </p>
    <% end %>
  </div>
</div>